[Unit]
Description=Pulse-Eight USB-CEC adapter on %I
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
ExecStart=/usr/bin/inputattach --pulse8-cec /dev/%I
ExecStartPost=/usr/libexec/hearth/hearth-cec setup
Restart=on-failure
