[Unit]
Description=Install Hearth's default Flatpak apps
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hearth/hearth-flatpak-setup

[Install]
WantedBy=multi-user.target
